$color1:#444;

html,body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Microsoft JhengHei";
}

#app {
  height: 100%;
}

.header {
  background-color: $color1;
  height: 60px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px 0;
  .headerLogo {
    font-size: 40px;
    color:#fff;
  }
  .headerMenu {
    display: flex;
    align-items: center;
  }
  .headerMenuInput {
    margin: 0 10px 0 0;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    border-width: 1px;
  }
  .headerMenuItem {
    height: 100%;
    padding: 10px 20px;
    color:#fff;
    cursor: pointer;
    &:hover {
      background-color: #eee;
      color:$color1;
    }
  }
}

.home {
  height: calc(100% - 110px);
  padding: 0 20px;
  margin: 0 auto;
  .xlsxMenu {
    display: flex;
    justify-content: space-between;
  }
}

.tableBox {
  height: 100%;
  .tableBoxMenu {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 0 20px 0;
  }
  .tableBoxListBox {
    height: calc(100% - 60px - 42px - 80px);
    overflow-y: scroll;
  }
  .tableBoxMenuTitle {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .tableBoxMenuTitleLabel {
    margin: 0 10px 0 0;
  }
  .tableBoxMenuTitleInput {
    height: 100%;
    font-size: 20px;
    box-sizing: border-box;
    padding: 10px;
  }
  .tableBoxMenuButtonList {
    height: 100%;
    display: flex;
  }
  .tableBoxMenuButtonListItem {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: $color1;
    color:#fff;
    margin: 0 10px 0 0;
    border:2px solid $color1;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      background-color: #eee;
      color:$color1;
    }
  }
  .tableBoxCtrlMenu {
    height: 40px;
    display: flex;
    padding: 10px 0;
    justify-content: flex-end;
  }
  .tableBoxCtrlMenuItem {
    display: flex;
    align-items: center;
    padding: 0 10px;
    background-color: $color1;
    color:#fff;
    margin: 0 10px 0 0;
    border:2px solid $color1;
    cursor: pointer;
    box-sizing: border-box;
    &:hover {
      background-color: #eee;
      color:$color1;
    }
  }
  .tableBoxTag {
    display: flex;
    transform: translateY(1px);
  }
  .tableBoxTagItem {
    padding: 10px 20px;
    background-color: #eee;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $color1;
    cursor: pointer;
    &:hover {
      background-color: #ddd;
      color:$color1;
    }
  }
  .tableBoxTagItemOnChange {
    background-color: $color1;
    color:#fff;
    &:hover {
      background-color: $color1;
      color:#fff;
    }
  }
  .tableBoxList {
    width: 100%;
    border-collapse: collapse;
    tr:first-child {
      background-color: $color1;
      color: #fff;
      &:hover {
        background-color: $color1;
        color: #fff;
      }
    }
    tr {
      &:hover {
        background-color: rgba(0,0,0,0.1);
      }
    }
    td {
      padding: 10px;
    }
    .tableBoxListInput {
        width: 100%;
        height: 100%;
        padding: 10px;
        margin: 0;
        border-width: 0;
        box-sizing: border-box;
        background-color: transparent;
    }
  }
  .tableBoxListHeader {
    display: flex;
    justify-content: space-between;
  }
  .tableBoxListHeaderX {
    cursor: pointer;
  }
}